@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  @apply h-full w-full m-0 p-0;
}

body {
  background: url("C:/Users/jaspa/OneDrive/Desktop/chat_app/Chat-app/frontend/public/back.jpg") no-repeat center center fixed;
  background-size: cover;
}

.visible-scrollbar{
  display: block;
  width: 10em;
  overflow: auto;
  height: 2em;
  padding: 1em;
  margin: 1em auto;
  outline: 2px dashed cornflowerblue;
}
/* dark mode looking scrollbar */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #555;
}

body::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 4px; /* Optional: to make the scrollbar thumb rounded */
}
body::-webkit-scrollbar-thumb:hover {
	background: #242424;
}